body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 60px;
    
}
.me{
    text-align: center;
    background-color: rgba(11, 11, 26, 0.828);
    color: white;
}
.list{
    align-items: center;

}
input[type=text],select{
  width: 93.5%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button],select{
    width: 70px;
    background-color: maroon;
    color: white;
    padding: 14px 20px;  
    cursor: pointer;
    border: none;
    
}
input[type=button]:hover{
    background-color: rgb(143, 9, 9);
}

svg{
    width: 64px;
    height: 64px;
}
.todo-list{
    list-style-type: none;
    margin-bottom: 20px;
}
.todo-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
}
.todo-item span{
    flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}
.done span {
    text-decoration: line-through;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .tick {
    width: 30px;
    height: 30px;
    border: 3px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .tick::before {
    content: '✓';
    font-size: 20px;
    display: none;
  }
  
  .done .tick::before {
    display: inline;
  }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
  }
  