body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 60px;
    
}
.me{
    text-align: center;
    background-color: rgba(11, 11, 26, 0.828);
    color: white;
}
.list{
    align-items: center;

}
input[type=text],select{
  width: 93.5%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button],select{
    width: 70px;
    background-color: maroon;
    color: white;
    padding: 14px 20px;  
    cursor: pointer;
    border: none;
    
}
input[type=button]:hover{
    background-color: rgb(143, 9, 9);
}